In [8]:
import pandas as pd
# 폴더 , 파일을 관리하는 os 라이브러리 
import os

In [3]:
os.listdir()

['2020', '2021', '2022', '2023', '2024', 'merge_csv.ipynb']

In [38]:
dirpath = './'
files = os.listdir(dirpath)
files

['2020',
 '2020.csv',
 '2021',
 '2021.csv',
 '2022',
 '2022.csv',
 '2023',
 '2023.csv',
 '2024',
 '2024.csv',
 'merge_csv.ipynb']

In [39]:
import pandas as pd
import os

# 빈 리스트 준비
dataframes = []

# 폴더 내의 파일들을 하나씩 읽어들이고 리스트에 추가
for file_names in os.listdir('./2024'):
    fpath = os.path.join('./2024', file_names)
    print(fpath)
    temp = pd.read_csv(fpath)
    dataframes.append(temp)

# 모든 데이터프레임을 하나로 병합
raw = pd.concat(dataframes, ignore_index=True)

TypeError: listdir: path should be string, bytes, os.PathLike or None, not list

In [32]:
raw

     지역      휘발유       경유     LPG     전기       년월
0    서울  1658291  1004636  222146  72877  2024.01
1    부산   744262   516019  101582  34789  2024.01
2    대구   602293   439473  101545  30396  2024.01
3    인천   843141   577568   99319  40845  2024.01
4    광주   320422   256415   87362  12529  2024.01
..   ..      ...      ...     ...    ...      ...
97   전북   412464   414008   92838  21918  2024.06
98   전남   506245   530116  104462  27622  2024.06
99   경북   675473   632470  126201  29838  2024.06
100  경남   940505   704528  136804  41818  2024.06
101  제주   329498   222507   45864  42436  2024.06

[102 rows x 6 columns]

In [33]:
raw.to_csv("2024.csv", index = False)